# Build artifacts
build/
*.o
*.obj
*.exe
*.a
*.lib
*.so
*.dll
0

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
cmake_install.cmake
CTestTestfile.cmake
*.cmake

# Conan
conanbuildinfo.*
conan_toolchain.cmake
conanbuild.bat
conanrun.bat

# VS Code
.vscode/

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Misc
*.log
*.swp
.DS_Store